{{define "episode" -}}
{{.Body}}

<aside>
  {{with $t := .Episode.PubDate.Format "2006-01-02 15:04" -}}
  <div>Published: <time datetime="{{ $t }}">{{ $t }}</time></div>
  {{- end}}
  <div><a href="{{.Episode.AudioURL}}">Download audio</a><div>
</aside>

<nav class="adjacent-episodes">
  <ul>
    {{ if .PreviousEpisode -}}
    <li>
      <a href="{{.PreviousEpisode.URL.Path}}" rel="prev">previous episode</a>
    </li>
    {{- end}}
    {{ if .NextEpisode -}}
    <li>
      <a href="{{.NextEpisode.URL.Path}}" rel="next">next episode</a>
    </li>
    {{- end}}
  </ul>
</nav>

{{- end}}
