{{define "episode" -}}
{{.Body}}

<aside>
{{with $t := .Episode.PubDate.Format "2006-01-02 15:04" -}}
  <div>Published: <time datetime="{{ $t }}">{{ $t }}</time></div>
{{- end}}
  <div><a href="{{.Episode.AudioURL}}">Download audio</a><div>
</aside>

{{- end}}
