name: deploy-pages
on:
  push:
    branches:
    - main
  workflow_dispatch:
jobs:
  build-deploy:
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/configure-pages@v5
      id: pages
    - uses: actions/setup-go@v6
      with:
        go-version: stable
    - name: build pages
      run: |
        make build
        ./podbard -C docs/ja build
    - uses: actions/upload-pages-artifact@v4
      with:
        path: docs/ja/public
    - uses: actions/deploy-pages@v4
      id: deployment
